.pio
Bruce3_*.bin
bruce.conf
_*.sh
tmp
ISSUES.md
include/webFiles.h
include/current_year.h
checksum.sha256
/*.bin
.vscode/extensions.json
mqjs_build
lib/mquickjs_headers/mqjs_stdlib_generator
lib/mquickjs_headers/mqjs_stdlib_generator.exe
.github/agents/Bruce-AI.agent.md
.idea
.ai
